<div ng-controller="playersController as pc">
  <h1>New Player</h1>
  <form name="playerForm">
    <label>Name: </label><input type="text" name="name" ng-model="pc.name" ng-minlength='4' required >
    <button type="button" ng-click="pc.create()">Add Player</button>
  </form>
  <div ng-messages="playerForm.name.$error">
      <p ng-message="minlength">The player name is too short.</p>
      <p ng-message="required">The player name is required.</p>
  </div>
  <hr>
<table>
  <thead>
    <th>
      Name
    </th>
    <th>
      Actions
    </th>
  </thead>
  <tbody>
    <tr ng-repeat="player in pc.players">
      <td>
        {{player.name}}
      </td>
      <td>
        <button type="button" ng-click="pc.destroy(player)">Delete Player</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
